@media only screen and (max-width:1024px){
    body {
    font: 400 14px/16px 'Raleway', sans-serif;
}
    h1,
.title1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}

h2,
.title2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

h3,
.title3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h4,
.title4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

h5,
.title5 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}


h6,
.title6 {
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
}


.title2 , .divider , .title1 {
    margin-bottom: 30px;
}
.divider {
    width:115px;
}

.header__logo img {
    margin: 0;
}
.wrap-banner {
    padding-top: 137px;
    padding-bottom: 105px;
}
.wrap-banner__logo-png {
    margin: 0 0 55px 0;
}
.button--trasparent{
    max-width: 185px;
    max-height: 50px;
}
.wrap-banner__main {
    max-width: 470px;
    margin-left: 113px;
}
.social {
    padding: 15px 0;
}
.social__inf {
    margin-right: 40px;
}
.social__item {
    width: 64px;
    height: 64px;
}
.social__item + .social__item {
    margin-left: 33px;
}

.tabs {
    padding: 60px 0 50px 0;
}
.tabs-titles__item {
    min-width: 170px;
}
.wrapper-tabs__content {
    padding: 50px 25px 50px 85px;
}
.wrapper-tabs__img img {
    width: 400px;
    height: 385px;
}
.wrap-banner__button {
    width: 230px;
    height: 58px;
}

.abillity__subtitle {
    margin-bottom: 85px;
}
.abillity__icon {
    margin-bottom: 45px;
}
.abillity__card-title {
    margin-bottom: 15px;
}
.card__subtitle {
    padding: 10px;
    background-color: #333333;
}
.card__item {
    padding: 10px 0;
}

.coments {
    padding: 50px 0 60px 0;
}
.coments__subtitle {
    margin-bottom: 30px;
}
.coments__comment {
    padding: 50px;
}
.coments__avatar {
    margin-right: 20px;
}
.coments__name {
    margin-bottom: 10px;
}

.banner2__button {
    width: 320px;
}

.contact__subtitle {
    margin-bottom: 70px;
}
.contact__inputs input {
    width: 485px;
}

.foot__item {
    width: 45px;
    height: 45px;
}
.foot__item {
    margin-right: 40px;
}
.foot__row {
    margin-bottom: 40px;
}
.contact__button {
    width: 320px;
}
}

@media only screen and (max-width:570px) {
    h3,
.title3 {
    font-family: 'open sans';
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
    h4,
.title4 {
    font-family: 'open sans';
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
}
h5,
.title5 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.title2 , .divider , .title1 {
    margin: 0 auto 25px;
}
.divider {
    width: 135px;
}
.title1 , .wrap-banner__divider , .wrap-banner__text {
    margin-bottom: 40px;
}
.wrap-banner__button {
    margin-bottom: 55px;
}
.wrap-banner {
    justify-content: center;
    text-align: center;
}
.button--trasparent {
    min-width: 290px;
    min-height: 50px;
}
.wrap-banner__main {
    margin: 0 auto;
}
.wrap-banner__logo-png {
    display: none;
}
.social {
    text-align: center;
}
.social__item img {
    width: 25px;
    height: 25px;
}
.social__item + .social__item {
    margin-left: 20px;
}
.social__inf {
    margin-bottom: 35px;
}
.tabs {
    padding: 80px 0 50px 0;
    background-color: var(--main__color-black);
}
.wrapper-tabs__content {
    text-align: center;
    padding: 30px 20px 30px 25px;  
}
.wrapper-tabs__img {
    display: none;
}
.tabs-titles__item {
    min-width: 100px;
}
.pricing__card-selected {
    transform: none;
}
}