a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

img {
  object-fit: cover;
}

span {
  color: #fff;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}
.btn {
  border: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 15px;
}
.container--big {
  max-width: 1300px;
  margin: 0 auto;
}
.container--mini {
  max-width: 1000px;
  margin: 0 auto;
}
body {
  padding: 220px 0px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #000;
  background-color: #444;
}

.body-wrap {
  height: 1600px;
  background-color: white;
  box-shadow: 0 0 40px #000;
  border-radius: 3px;
}

.header {
  padding: 52px 35px;
  display: flex;
  justify-content: end;
  background: url(https://jut-su.net/templates/jutsu/images/shablonfon.jpeg)
  no-repeat;
  background-size: cover;
  background-position: center;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__btn1 {
    color: #fff;
    background-color: #2daae1;
}

.header__btn2 {
  color: #fff;
  background-color: #d93baa;
}

.header__btn1:hover {
  background-color: #3682a3;
}

.header__btn2:hover {
  background-color: #ac3488;
}

.sticky-search {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}
.sticky-search__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 1px;
    cursor: pointer;
}
.sticky-search__title:hover {
  color: #d93baa;
}
.net {
  margin-top: 5px;
  color: #fff;
  display: inline-block;
  padding: 3px 15px;
  font-size: 15px;
  background-color: #d93baa;
  border-radius: 5px;
}
.sticky-search__input {
    outline: none;
    font-size: 20px;
    border: none;
    width: 70%;
    padding: 0 60px 0 20px;
    background-color: #fafafa;
    box-shadow: none;
    color: #000;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
}
.sticky-search__moon {
  width: 57px; 
  height: 53px; 
  margin: -20px 0 20px 0;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #2daae1;
  cursor: pointer;
  transition: 0.5s;
}
.sticky-search__moon:hover {
  box-shadow: 15px 15px 0 0 #000;
}
.fa-search {
  font-size: 20px;
  color: #969696;
  position: absolute;
  top: 30px;
  right: 175px;
  cursor: pointer;
}

.popular {
  background-color: #1c222b;
}