* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 25px;
  background-color: #4e3434;
}
.wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 15px;
}
.box {
  flex-shrink: 0;
  background-color: pink;
  font-size: 50px;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width:300px) {
  body {
    background-color: #6eb66e;
  }
  .box {
    width: 100%;
  }
}
@media (min-width:300px) and (orientation: landscape) {
  .box {
    width: 100%;
  }
}
  @media (min-width:600px) and (orientation: landscape){
    body {
      background-color: #7777c5;
    }
    .box {
    }
  }
    @media (min-width:1200px){
      body {
        background-color: #a5a560;
      }
      .box {
        width: 25%;
      }
    }