@media (max-width:1199px) {
    body {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6C7279;
    }
    h1 , .title1 {
        color: #FFFFFF;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
    }
    h2 , .title2 {
        color: #FFFFFF;
        font-family: 'Cardo';
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }
    h3 , .title3 {
        color: #000000;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    h4 , .title4 {
        color: #2D3033;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
    h5 , .title5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    h6 , .title6 {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
    }
    .btn {
        min-width: 315px;
        min-height: 80px;
        padding: 2px;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
    }
    .header__burger {
        display: none;
    }
    .header__row-second {
        padding: 150px 0;
    }
    .header__title {
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    .header__subtitle {
        margin-bottom: 90px;
    }
    .ability .ability__list {
        row-gap: 60px;
    }
    .offers .offers__card .offers__description  {
        padding: 50px 100px 130px 90px;
    }
    .ready {
        padding: 100px 0 80px 0;
    }
}

@media (max-width: 991px) {
    .header .header__wrap {
        justify-content: center;
    }
    .team .team__wrap {
        grid-template-columns: repeat(2 ,1fr);
        gap: 30px;
    }
    .header__logo {
        display: none;
    }

}  

@media (max-width: 767px) {

    .header .header__wrap .header__menu .header__item {
        width: 100px;
    }
    .header__logo {
        display: none;
    }
    .header__nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer .footer__first .footer__wrap {
        grid-template-columns: repeat(1 ,1fr);
        row-gap: 70px;
    }

}

@media (max-width: 575px)  {

    h1 , .title1 {
        color: #FFFFFF;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
    }
    h3 , .title3 {
        color: #000000;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    h5 , .title5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    .btn {
        min-width: 280px;
        min-height: 60px;
        padding: 1px;
    }
    .header .header__wrap .header__menu {
        display: none;
    }
    .header__logo {
        display: block;
    }
    .header__burger {
        display: block;
    }
    .ability .ability__list {
        grid-template-columns: repeat(1 ,0.7fr);
        row-gap: 40px;
        justify-content: center;
    }
    .gallery {
        grid-template-columns: repeat(2 ,1fr);
    }
    .team .team__wrap {
        grid-template-columns: repeat(1 ,0.7fr);
        row-gap: 40px;
        justify-content: center;
    }
    .team .team__wrap .team__card {
        text-align: center;
    }
    .offers .offers__card {
        grid-template-columns: repeat(1, 1fr);
    }
    .offers .offers__card .offers__description {
        padding: 0 50px 50px 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}